<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>API 1.0</title>
</head>
<body>
<!-- Uses a header that contracts as the page scrolls down. -->
<style>
    .demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type {
        padding-right: 0;
    }
</style>

<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">Welcome</span>
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
                <label class="mdl-button mdl-js-button mdl-button--icon"
                       for="waterfall-exp">
                    <i class="material-icons">search</i>
                </label>
                <div class="mdl-textfield__expandable-holder">
                    <input class="mdl-textfield__input" type="text" name="sample"
                           id="waterfall-exp">
                </div>
            </div>
        </div>
        <!-- Bottom row, not visible on scroll -->
        <div class="mdl-layout__header-row">
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation -->
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">主页</a>
                <a class="mdl-navigation__link" onclick="show_page('{{ url_for('flasgger.apidocs',_external=True)}} ')">API
                    文档</a>
                <a class="mdl-navigation__link" onclick="show_page('https://coding.net/u/Vistazx1/p/simple-api/')">API
                    源码</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Welcome</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">主页</a>
            <a class="mdl-navigation__link" onclick="show_page('{{ url_for('flasgger.apidocs',_external=True)}} ')">API
                文档</a>
            <a class="mdl-navigation__link" onclick="show_page('https://coding.net/u/Vistazx1/p/simple-api/')">API
                源码</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div id="frame" style="width: 100%;height: 100%;overflow:hidden;">
                <div id="container">
                    <!-- Wide card with share menu button -->
                    <style>
                        .demo-card-wide.mdl-card {
                            width: 80%;
                            margin: 5% 10%;
                        }

                        .demo-card-wide > .mdl-card__title {
                            color: #fff;
                            height: 176px;
                            background: url("{{ url_for('static',filename='images/welcome_card.jpg') }}") center / cover;
                        }

                        .demo-card-wide > .mdl-card__menu {
                            color: #fff;
                        }
                    </style>

                    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__title">
                            <h2 class="mdl-card__title-text">Welcome</h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            这里是一个用Flask编写的API，点击下面查看文档
                        </div>

                        <div class="mdl-card__actions mdl-card--border">
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                    onclick="show_page('{{ url_for('flasgger.apidocs',_external=True)}} ')">
                                API 文档
                            </button>
                            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                                    onclick="show_page('https://coding.net/u/Vistazx1/p/simple-api/')">
                                API 源码
                            </button>
                        </div>
                    </div>


                    <!-- Your content goes here -->

                </div>
            </div>

            <a></a>
        </div>
    </main>
</div>


</div>
</body>

<script>
    function show_page(page) {
        document.getElementById('frame').innerHTML = '<iframe id="new_frame" src=' + page + ' width="100%" height="1000px"  frameborder="0"></iframe>';
    }

    function changeFrameHeight() {
        var ifm = document.getElementById("frame");
        ifm.height = document.documentElement.clientHeight;

    }


</script>


<style>

</style>
<link rel="stylesheet" href="{{ url_for('static',filename='css/material.min.css') }}">
<script src="{{url_for('static',filename='js/material.min.js')}} "></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

</html>