{% block content %}

<style>
    .mdl-dialog-custom {
        border: none;
        box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.14), 0 11px 15px -7px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.2);
        width: 70%;
        margin-top: 8%;
    }

    .mdl-dialog__title {
        padding: 24px 24px 0;
        margin: 0;
        font-size: 2.5rem;
    }

    .mdl-dialog__actions {
        padding: 8px 8px 8px 24px;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .mdl-dialog__actions > * {
        margin-right: 8px;
        height: 36px;
    }

    .mdl-dialog__actions > *:first-child {
        margin-right: 0;
    }

    .mdl-dialog__actions--full-width {
        padding: 0 0 8px 0;
    }

    .mdl-dialog__actions--full-width > * {
        height: 48px;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        padding-right: 16px;
        margin-right: 0;
        text-align: right;
    }

    .mdl-dialog__content {
        padding: 20px 24px 24px 24px;
        color: rgba(0, 0, 0, 0.54);
    }

    #msg-toast {
        zoom: 1.3;
    }
</style>


<dialog id="registration_dialog" class="mdl-dialog-custom">
    <h3 class="mdl-dialog__title">用户注册</h3>
    <div class="mdl-dialog__content">
        <form action="{{ url_for('api.register') }}" method="post" id="registration_form">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="userName">
                <label class="mdl-textfield__label" for="userName">用户名</label>
            </div>
            <div>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-1">
                    <input type="radio" id="option-1" class="mdl-radio__button" name="gender" value="B">
                    <span class="mdl-radio__label">男生</span>
                </label>
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-2">
                    <input type="radio" id="option-2" class="mdl-radio__button" name="gender" value="G">
                    <span class="mdl-radio__label">女生</span>
                </label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="email" id="email">
                <label class="mdl-textfield__label" for="email">邮箱</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="number" id="phone">
                <label class="mdl-textfield__label" for="phone">手机号码</label>
            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="date" id="birthday">
                <label class="mdl-textfield__label" for="birthday">生日</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password">
                <label class="mdl-textfield__label" for="password">密码</label>
            </div>
        </form>
    </div>

    <div class="mdl-dialog__actions">

        <button type="button" class="mdl-button" id="summit">提交</button>
        <button type="button" class="mdl-button" id="reset">重置</button>
        <button type="button" class="mdl-button" id="close-dialog">关闭</button>
    </div>
</dialog>

<div id="msg-toast" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
{% endblock %}


{% block script %}
<script>
    // 对话框
    //var dialogButton = document.querySelector('#show_registration_dialog');
    var dialog = document.querySelector('#registration_dialog');
    if (!dialog.showModal) {
        dialogPolyfill.registerDialog(dialog);
    }
    //　表单提交
    var summitButton = document.querySelector('#summit');
    var form = document.querySelector('#registration_form');
    var snackbarContainer = document.querySelector('#msg-toast');

    document.querySelector('#reset').addEventListener('click', function () {
        form.reset();
    });
    document.querySelector('#close-dialog').addEventListener('click', function () {
        dialog.close();
    });

    summitButton.addEventListener('click', function () {
        var data = {
            "birthday": document.querySelector('#birthday').value,
            "email": document.querySelector('#email').value,
            "gender": (function () {
                var gender = document.getElementsByName('gender');
                for (var i = 0; i < gender.length; i++) {
                    if (gender[i].checked) {
                        return gender[i].value;
                    }
                }
            }()),
            "password": document.querySelector('#password').value,
            "phone": document.querySelector('#phone').value,
            "userName": document.querySelector('#userName').value
        };

        $.ajax("{{ url_for('api.register', _external=True) }}", {
            data: JSON.stringify(data),
            contentType: 'application/json',
            headers: {
                Accept: "application/json"
            },
            type: 'POST',
            success: function (data) {
                snackbarContainer.MaterialSnackbar.showSnackbar({message: "用户注册成功，请留意邮箱的激活链接"});
                dialog.close();
            },
            error: function (data) {
                data = $.parseJSON(data.responseText);
                console.log(data.Error);
                snackbarContainer.MaterialSnackbar.showSnackbar({message: "" + data.Error});
            }
        });

    });

    function showRegistrationDialog() {
        dialog.showModal();
    }

    // 加载完成后显示对话框
    //document.ready(showRegistrationDialog());

</script>
{% endblock %}
